form {
  background-color: $lightestColour;
  display: flex;
  flex-direction: column;
  border: 6px solid $accentColour;
  border-radius: 0.5em;
  margin-bottom: 2rem;
  color: $darkestColour;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
  width: 500px;
  margin: 3rem auto;


  label {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: $headingFont;
    margin-bottom: 0.3rem;
   
  }

  .form-control{
    color: $accentColour;
    width: 80%;
    align-self: center;
    box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
    border: 2px solid $accentColour;
    border-radius: 0.5em;
    padding: 1rem;

  }

  select,
  input[type="text"] {
    color: $accentColour;
    border: 2px solid $accentColour;
    border-radius: 0.5em;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px rgba(39, 35, 35, 0.664);
    font-family: $bodyFont;
    width: 80%;
    margin: 0 auto;

  }

  input::placeholder{
    color:lightgrey;
  }

  input[type="submit"] {
    @include button;
    color: white;
    letter-spacing: 1px;
   
  }

  input[type="submit"]:hover,
  input[type="submit"]:focus {
    @include buttonHover;
  }

  input[type="submit"]:active {
    top: 1px;
  }
}
