.savedGameList {
  padding: 1rem;
  border-radius: 0.5em;
  color: $lightestColour;
  margin-bottom: 2rem;

  .savedGame {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid $accentColour;
  }

  p{
    font-size: 1.3rem;

  }
}

.controlButtons {
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  align-items: center;

  button,
  a {
    @include button;
    width:260px;
    font-size: 1.3rem;
  }

  button:hover,
 
  a:hover{
  @include buttonHover;
  }
}
