nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    justify-content: center;
  }

  button {
    background-color: transparent;
    border:none;
  }

  button:hover {
    background-color: transparent;
    border:none;

  }
  
  a{
    @include button;
    
  }

  a:hover {
    @include buttonHover;
  }
}
