nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    justify-content: center;
  }

  button {
    background-color: transparent;
    border:none;
  }

  button:hover {
    background-color: transparent;
    border:none;

  }
  
  a{
    @include button;
    padding: 1rem 5rem;
    border: 2px solid $darkestColour;
    background-color: transparent;
    color:white;

    
  }

  a:hover {
    @include buttonHover;
    border: 2px solid $darkestColour;
  }
}
