nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    justify-content: center;
  }
  
  li {
    margin-bottom: 2rem;
  }

  button {
    background-color: transparent;
    border:none;
  }

  button:hover {
    background-color: transparent;
    border:none;

  }
  
  a {
    @include button;
    padding: 1rem 5rem;
    border: 2px solid $darkestColour;
    background-color: $darkestColour;
    color:white;
  }

  a:hover {
    @include buttonHover;
    border: 2px solid white;
    background-color: white;
    color:black;
  }
}
