.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@import "setup";
@import "variables";
@import "mixins";
@import "global";
@import "nav";
@import "form";
@import "gameCard";
@import "gameList";
@import "footer";
@import "mediaQueries";
